<div class="modal-header text-center">
  <h3 class="modal-title">Do you have a pass?</h3>
</div>
<div class="modal-body">
  <div class="alert alert-danger" ng-show="error">
Is this the email address assigned to your subscription?
  </div>
  <form role="form" ng-submit="login()" class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" id="email" name="email" placeholder="Email"
               ng-model="credentials.username"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-12">
        <input type="text" class="form-control" id="cardCode" name="cardCode"
               ng-model="credentials.password"/>
      </div>
    </div>
    <button class="btn btn-primary btn-block" type="submit">Sign In</button>
  </form>
</div>
<div class="modal-footer">
  <!-- TODO registration -->
  <button class="btn btn-default btn-block" type="button" ng-click="cancel()">Register</button>
</div>
